/* 
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --font-inter: 'Inter', sans-serif;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  body {
    font-family: var(--font-inter);

    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-inter);
  background-color: var(--primary-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
